<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<button class="btn btn-primary" (click)="onLoadServers(1)">Load Servers 1</button>
<button class="btn btn-outline-secondary" (click)="onLogin()">Login</button>
<button class="btn btn-outline-danger" (click)="onLogout()">Logout</button>
