<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <a routerLink="/">Home</a> |
      <a [routerLink]="['user', 1]">
        User 1 {{ user1Activated ? '(activated)' : '' }}
      </a>
      |
      <a [routerLink]="['user', 2]">
        User 2 {{ user2Activated ? '(activated)' : '' }}
      </a>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
