<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <label for="statusFilter"></label>
      <input type="text" id="statusFilter" [(ngModel)]="filteredStatus">
      <button class="btn btn-primary btn-sm" (click)="onAddServer()">Add Server</button>
      <br><br>
      <h2>App Status: {{ appStatus | async }}</h2>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filteredStatus : 'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge badge-pill badge-secondary float-right">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten: 15 }}</strong> |
          {{ server.instanceType | uppercase }} |
          {{ server.started | date: 'mediumDate' | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
