<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-8">
      <h1>{{ appName | async }}</h1>
      <label for="serverName"></label>
      <input id="serverName" type="text" #serverName>
      <button class="btn btn-primary btn-sm" (click)="onAddServer(serverName.value)">Add Server</button>
      <hr>
      <br><br>
      <button class="btn btn-primary" (click)="onSave()">Save Servers</button>
      <button class="btn btn-info" (click)="onGet()">Get Servers</button>
      <ul class="list-group" *ngFor="let server of servers">
        <li class="list-group-item">{{ server.name }} (ID: {{ server.id }})</li>
      </ul>
    </div>
  </div>
</div>
