<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
          >Home</a>
        </li>
        <li role="presentation" class="nav-item">
          <a
            class="nav-link"
            routerLink="servers"
            routerLinkActive="active">Servers</a>
        </li>
        <li role="presentation" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['users']"
            routerLinkActive="active">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
