<div class="row">
  <div class="col-sm-12">
    <p>Add new Servers or blueprints!</p>
    <label for="serverName">Server Name</label>
    <input
      type="text"
      id="serverName"
      class="form-control"
      #serverNameInput>
    <label for="serverContent">Server Content</label>
<!--    <input type="text" id="serverContent" class="form-control" [(ngModel)]="newServerContent">-->
    <input
      type="text"
      id="serverContent"
      class="form-control"
      #serverContentInput>
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(serverNameInput)">Add Server
    </button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint
    </button>
  </div>
</div>
