<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid">Save</button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <img [src]="imagePath.value" alt="" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              formControlName="description"
              class="form-control"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" formArrayName="ingredients">
          <div
            class="row"
            style="margin-top: 10px;"
            [formGroupName]="i"
            *ngFor="let _ of recipeIngredients.controls; let i = index"
          >
            <div class="col-sm-8">
              <input
                type="text"
                formControlName="name"
                class="form-control">
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                formControlName="amount"
                [min]="ingredientsMin"
                class="form-control">
            </div>
            <div class="col-sm-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-success btn-sm"
                (click)="onAddIngredient()"
              >Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
