<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Animations</h1>
      <button class="btn btn-primary btn-sm" (click)="onAnimate()">Animate!</button>
      <button class="btn btn-primary btn-sm" (click)="onShrink()">Shrink!</button>
      <hr>
      <div
        style="width: 100px; height: 100px; margin-bottom: 10px;"
        [@divState]="state"
        (@divState.start)="animationStarted($event)"
        (@divState.done)="animationEnded($event)"
      ></div>
      <div
        style="width: 100px; height: 100px;"
        [@wildState]="wildState"></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <label for="item"></label>
      <input type="text" id="item" #input>
      <button class="btn btn-primary btn-sm" (click)="onAdd(input.value)">Add Item!</button>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          (click)="onDelete(item)"
          [@list1]
          *ngFor="let item of list">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          (click)="onDelete(item)"
          [@list2]
          *ngFor="let item of list">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</div>
