<div class="card">
  <div class="card-header">{{ element.name }}</div>
  <div class="card-body">
    <p class="card-text">
      <strong *ngIf="element.type === 'server'" style="color: salmon">{{ element.content }}</strong>
      <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
    </p>
  </div>
</div>
