<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required
            >
          </div>
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="suggestUserName()"
          >Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel"
            >
            <span class="alert-danger" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User data is invalid!</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <label for="questionAnswer">Answer</label>
          <textarea
            name="questionAnswer"
            id="questionAnswer"
            class="form-control"
            [(ngModel)]="answer"
            rows="3"></textarea>
        </div>
        <p>Your reply: {{answer}}</p>
        <div *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
              required
            > {{ gender }}
          </label>
        </div>
        <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid"
        >Submit</button>
        </div>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-sm-12">
      <h3>Your Data</h3>
      <p>Username: {{ user.username }} </p>
      <p>Mail: {{ user.email }} </p>
      <p>Secret Question: {{ user.question }} </p>
      <p>Answer: {{ user.answer }} </p>
      <p>Gender: {{ user.gender }} </p>
    </div>
  </div>
</div>
