<label for="serverName">Server name (event binding)</label>
<input id="serverName" type="text" class="form-control" (input)="onUpdateServerName($event)">
<label for="serverNameDup">Server name (two-way binding)</label>
<input
  id="serverNameDup"
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<p>{{serverName}}</p>
<button
  class="btn btn-primary btn-sm"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>Add Server</button>
<p *ngIf="serverCreated; else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>
<p>{{allowNewServer}}</p>
<p [innerText]="allowNewServer"></p>
<app-server *ngFor="let server of servers"></app-server>
