<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers
      </button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let odd of oddNumbers"
          >{{odd}}
          </li>
        </div>
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: number % 2 !== 0}"
            [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let number of numbers"
          >{{number}}
          </li>
        </div>
        <ng-template  [ngIf]="!onlyOdd">
          <div>
            <li
              class="list-group-item"
              [ngClass]="{odd: number % 2 !== 0}"
              [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'}"
              *ngFor="let number of numbers"
            >{{number}}
            </li>
          </div>
        </ng-template>
      </ul>
      <p appBetterHighlight defaultColor="#FAFAD2" [highlightColor]="'#F08080'">Style me with basic attribute!</p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value: 5</p>
        <p *ngSwitchCase="10">Value: 10</p>
        <p *ngSwitchCase="100">Value: 100</p>
        <p *ngSwitchDefault>Value: Default</p>
      </div>
      <ng-template [ngIf]="onlyOdd">
        <p appBasicHighlight>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>
