<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h3>I'm in the AppComponent</h3>
      <hr>
      <app-servers></app-servers>
      <!-- attribute selector
      <div app-servers></div -->
      <!-- class selector
      <div .app-servers></div -->
    </div>
  </div>
</div>
