<div class="row">
  <div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          ngModel
          name="email"
          required
          email
          class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          ngModel
          name="password"
          required
          minlength="6"
          class="form-control">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid && f.touched">Sign Up</button>
    </form>
  </div>
</div>
