<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-new-account></app-new-account>
      <hr>
      <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"></app-account>
    </div>
  </div>
</div>
