<div class="row">
  <div class="col-sm-12">
    <h5>{{ account.name }}</h5>
    <hr>
    <p>This account is {{ account.status }}</p>
    <button class="btn btn-outline-secondary" (click)="onSetTo('active')">Set to 'active'</button>
    <button class="btn btn-outline-secondary" (click)="onSetTo('inactive')">Set to 'inactive'</button>
    <button class="btn btn-outline-secondary" (click)="onSetTo('unknown')">Set to 'unknown'</button>
  </div>
</div>
