<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <a href="#" class="navbar-brand">Recipes Book</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/recipes">Recipes</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/shopping-list">Shopping List</a></li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown" appDropdown>
          <a class="nav-link dropdown-toggle">Manage</a>
          <div class="dropdown-menu">
            <a class="dropdown-item">Save data</a>
            <a class="dropdown-item">Fetch data</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
