<div class="row">
  <div class="col-sm-12">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-fluid"
      style="max-height: 300px;"
    >
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group dropdown" appDropdown>
      <button class="btn btn-primary dropdown-toggle">Manage Recipe</button>
      <div class="dropdown-menu">
        <a href="#" class="dropdown-item">To Shopping List</a>
        <a href="#" class="dropdown-item">Edit Recipe</a>
        <a href="#" class="dropdown-item">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    Ingredients
  </div>
</div>
